# Environnements Python
venv/
.venv/
venv_deca_test/

# Cache Python
__pycache__/
*.py[cod]

# Résultats locaux
deca-results/

# Fichiers générés
*.obj
*.mtl
*.png
*.jpg
*.jpeg
*.webp

# Modèles DECA lourds
*.pt
*.pth
*.pkl
*.ckpt
*.tar
*.zip

# Configuration locale
.env

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db
external/DECA/TestSamples/examples/results/

external/DECA/data/deca_model.tar
external/DECA/data/generic_model.pkl
external/DECA/data/texture_data_256.npy

external/pytorch3d/tests/pulsar/reference/nr0000-out.pth
external/DECA/Python-3.10.21/
